* {
    padding: 0;
    margin: 0;
}

html, body #fullheight{
    min-height: 100% !important;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

.container {
    height: 100%;
    background-color: #000000;
}

.result {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #ffffff;
    height: 39%;
}

.result span {
    margin-right: 30px;
    font-size: 110px;
    justify-self: flex-end;
}

.buttons {
    width: 100%;
    height: 60%;
    background-color: #000000;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #ffffff;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.percent {
    background-color: #a5a5a5;
    border: none;
    color: #000000
}

