body {
    background-color: #ffffff;
}

section {
    display: flex;
    justify-content: center;
    padding: 4%;
}

img {
    height: 970px;
    margin-top: -20px;
    margin-left: 3px;
}

.container {
    background-color: #000000;
    margin-top: 320px;
    margin-right: 20px;
    position: absolute;
}

.panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    margin-left: -5px;
}

.panel p {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin: 0;
    padding: 0 15px 0 0;
}

.btn {
    border-radius: 50%;
    border-style: none;
    font-size: 34px;
    width: 80px;
    height: 80px;
    margin: 5px;
}

.btn.especial {
    color: #000000;
    background-color: rgb(165, 165, 165);
}

.btn.especial:hover {
    background-color: rgb(200, 200, 200);
}

.btn.number, .btn.decimal {
    color: #ffffff;
    background-color: rgb(52, 52, 52);
}

.btn.number:hover, .btn.decimal:hover {
    background-color: rgb(87, 87, 87);
}

.operator {
    color: #ffffff;
    background-color: rgb(255, 159, 10);
}

.operator:hover {
    background-color: rgb(255, 173, 50);
}

#zero {
    border-radius: 50px;
    width: 169px;
}

#zero p {
    text-align: left;
    margin-top: 23px;
    margin-left: 27px;
}