* {
    padding: 0;
    margin: 0;
}

html, body #fullheight{
    min-height: 100% !important;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

.container {
    height: 100%;
    background-color: #000000;
}

.result {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 15px;
    color: #ffffff;
    height: 39%;
}

.result span {
    font-size: 110px;
    margin-right: 15px;
    justify-self: flex-end;
}

.buttons {
    width: 100%;
    height: 60%;
    background-color: #000000;
    margin-top: 230px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 40px;
    color: #ffffff;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.percent {
    background-color: #a5a5a5;
    border: none;
    color: #000000
}

.item1 {
    background-color: #a5a5a5;
    border: none;
}

.item3 {
    background-color: #ff9f0a;
    border: none
}

.numbers, .comma {
    background-color: #343434;
    border: none;
}

.negative, .clear {
    color: #000000;
}

.itemZero {
    background-color: #343434;
    width: 200px;
    border-radius: 135px;
    grid-column: span 2;
    border: none;
}